.become__driver {
  background-color: #000c6bec;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.container_img{
  display: flex;
  align-items: center;
  justify-content: center;  
}


.become__driver_img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 30vh;
  border-radius: 10px;
}
.become__driver > h3 {
  color: #fff;
}
.EXCat {
  background-color: #000d6b;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 220px;
  height: 75vh;
}

.EXCat_img{
  width: 10vw;
  height: 60vh;
}


.become__driver button {
  background: #fff;
  color: #000d6b;
  font-weight: 600;
}

.become__driver-title {
  font-size: 2.8rem;
  color: #fff;
  line-height: 65px;
}

@media only screen and (max-width: 992px) {
  .become__driver-title {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .become__driver {
    padding: 50px 0px;
  }

  .become__driver-title {
    font-size: 1.3rem;
    line-height: 2.5rem;
  }

  .become__driver-btn {
    font-size: 0.8rem !important;
  }
}

@media only screen and (max-width: 576px) {
  .become__driver-img {
    display: none;
  }
  .become__driver {
    text-align: center;
  }
}
